html {
    font-size: $font-size;
}

body {
    font-family: $font-main;
    font-size: 1rem;
}

a {
    color: $color-primary;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-accent;
    }
}

h1 {
    font-family: $font-header;
    &::after {
        position: absolute;
        width: 100%;
        margin: 0.85em 0 0 $gap;
        content: "";
        border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
    }
}

h2 {
    font-family: $font-header;
}

section {
    position: relative;
    overflow: hidden;
}