.top-week,
.new-films
{
    .row
    {
        margin-right: -$gap / 2;
        margin-left: -$gap / 2;
    }
}

.top-week,
.new-films
{
    &-item
    {
        margin-bottom: $gap;
        padding-right: $gap / 2;
        padding-left: $gap / 2;
        .thumbnail
        {
            margin-bottom: 0;

            transition: background-color .25s ease;
        }
        .caption
        {
            height: 40px;

            text-align: center;
        }
        &__image
        {
            width: 100%;
        }
        &__title
        {
            font-size: 1rem;
            font-weight: bold;

            height: 22px;
            margin: 0;

            @include text-shortener;
        }
        &:hover
        {
            .thumbnail
            {
                border-color: $color-accent;
                background-color: $color-accent;
            }
        }
    }
}

.film-news
{
    img
    {
        width: 100%;
    }
    &-item
    {
        &__text
        {
            text-align: justify;
        }
        &:hover
        {
            .thumbnail
            {
                background-color: lighten($color-accent, 15%);
            }
            h3 > a
            {
                color: $color-accent;
            }
            .btn-warning
            {
                background-color: $color-accent;
            }
        }
    }
    h3 > a
    {
        transition: color .25s ease;
    }
    .thumbnail
    {
        margin-bottom: 0;

        transition: background-color .25s ease;
    }
    .btn-warning
    {
        float: right;

        margin-bottom: $gap * 2;

        transition: background-color .25s ease;
    }
}
