.film-info {
    font-size: 1.2em;
    &__badge {
        font-size: 0.8em;
        &:not(:last-child) {
            margin-right: 3%;
        }
    }
}

.film-send-comment {
    .btn {
        float: right;
    }
}