.left-sidebar {
    margin-bottom: $gap * 4;
    .panel:last-of-type {
        margin: 0;
    }
}

.vertical-slider {
    border-radius: 4px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.site-news {
    &-item {
        position: relative;
        clear: both;
        &:not(:last-of-type) {
            min-height: 85px;
            margin-bottom: $gap;
            &::after {
                position: absolute;
                right: 0;
                bottom: -5px;
                width: calc(100% - 85px);
                height: 1px;
                content: "";
                background-color: $color-gray;
            }
        }
        &__image {
            float: left;
            width: 75px;
            margin: 0 10px 10px 0;
            transition: background-color 0.25s ease;
            img {
                width: 100%;
            }
        }
        &__date {
            text-align: right;
            font-size: 0.8rem;
            color: darken($color-gray, 30%);
        }
        &__title {
            margin-bottom: 10px;
            @include block-shortener(1rem, 1.5, 50px, 2)
        }
        &:hover {
            .site-news-item__title a {
                color: $color-accent;
            }
            .site-news-item__image {
                border-color: $color-accent;
                background-color: $color-accent;
            }
        }
    }
}

.top-films {
    .panel-body {
        padding-right: 0;
        padding-left: 0;
    }
    .list-group {
        margin-bottom: 0;
    }
    .badge {
        position: absolute;
        right: 10px;
        text-justify: 12px;
    }
    &-item {
        background-color: transparent;
        border-right: none;
        border-left: none;
        margin-right: -1px;
        margin-left: -1px;
        border-top: 1px solid $color-gray;
        padding: 0;
        a {
            display: block;
            padding: 10px 40px 10px $gap;
        }
        &:first-child {
            border-radius: 0;
            border-top: none;
        }
        &:last-child {
            border-radius: 0;
            border-bottom: none;
        }
        &:hover {
            background-color: $color-accent;
            a {
                color: $color-light;
            }
            .badge {
                background-color: $color-dark;
            }
        }
    }
}