.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.navbar-inverse {
  border-color: transparent;
  background-color: #191919;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  margin-bottom: 22.5px;
  border: none;
  background-color: #ebebeb;
}

.panel-info > .panel-heading {
  color: #ffffff;
  border: none;
  background-color: #df8a13;
}

.panel-title {
  font-size: 1.2rem;
  letter-spacing: .1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: .875rem;
}

html {
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  font-family: "PT Serif", serif;
}

h1::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2 {
  font-family: "PT Serif", serif;
}

section {
  position: relative;
  overflow: hidden;
}

.header {
  margin-bottom: 60px;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.header-logo__title {
  display: block;
  font-family: "PT Serif", serif;
  color: #df8a13;
}

.header-logo__description {
  display: block;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-size: 1.15rem;
}

.new-films .row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.new-films-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-bottom: 15px;
}

.new-films-item .thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.new-films-item .caption {
  text-align: center;
  height: 40px;
}

.new-films-item__title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  height: 22px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.new-films-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.left-sidebar {
  margin-bottom: 60px;
}

.left-sidebar .panel:last-of-type {
  margin: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  clear: both;
  position: relative;
}

.site-news-item:not(:last-of-type) {
  margin-bottom: 15px;
  min-height: 85px;
}

.site-news-item:not(:last-of-type)::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -5px;
  width: calc(100% - 85);
  height: 1px;
  background-color: #dddddd;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.site-news-item__image img {
  width: 100%;
}

.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.site-news-item__title {
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.site-news-item:hover .site-news-item__title a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  border-color: #df8a13;
  background-color: #df8a13;
}

.top-films .panel-body {
  padding-right: 0;
  padding-left: 0;
}

.top-films .list-group {
  margin-bottom: 0;
}

.top-films .badge {
  position: absolute;
  right: 10px;
  text-justify: 12px;
}

.top-films-item {
  background-color: transparent;
  border-right: none;
  border-left: none;
  margin-right: -1px;
  margin-left: -1px;
  border-top: 1px solid #dddddd;
  padding: 0;
}

.top-films-item a {
  display: block;
  padding: 10px 40px 10px 15px;
}

.top-films-item:first-child {
  border-radius: 0;
  border-top: none;
}

.top-films-item:last-child {
  border-radius: 0;
  border-bottom: none;
}

.top-films-item:hover {
  background-color: #df8a13;
}

.top-films-item:hover a {
  color: #ffffff;
}

.top-films-item:hover .badge {
  background-color: #232323;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-bottom: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
}
